# Виртуальное окружение
venv/
.env

# Кэш Python и pytest
__pycache__/
*.pyc
.pytest_cache/

# Отчеты Allure (они генерируются локально)
allure-results/
allure-report/
allure-reports/

# Логи и временные файлы
*.log
.DS_Store
Thumbs.db